{% extends "layout.html"%}
{% block pageTitle %}Register{% endblock %}
{% block style %}

{% endblock %}
{% block heading %} Welcome to book review website, Login here {% endblock %}

{% block body %}
<p>
Welcome to book search world!
</p>
<form action="{{ url_for('login')}}" method="post">
	<input type="text" name="username" placeholder="Enter username">
  <input type="password" name="password" placeholder="password">
	<button>Submit!</button>
</form>
<p>
Not a member yet? <a href="{{ url_for('register')}}">Register here</a>
</p>

{% endblock %}
